html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  color: #fff;
  transition: all 0.3s ease-in-out;
}

.dark {
  background-color: black !important;
  color: white !important;
}

button[data-light] {
  color: white;
}

body.dark > button[data-dark] {
  display: none;
}

button[data-light] {
  display: none !important;
}

body.dark button[data-light] {
  display: block !important;
  animation: lightShow 0.3s ease-in-out;
  animation-delay: 0.6s;
}

.themeer {
  position: fixed;
  top: 5px;
  right: 5px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

.full {
  position: fixed;
  top: 5px;
  right: 45px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: black;
}

body.dark > .themeer, body.dark .full {
  color: white !important;
}

.hidden {
  display: none;
}


.bg {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1920' height='1080' viewBox='0 0 1920 1080' fill='none'%3E%3Ccircle cx='272.805' cy='-87.8019' r='928.805' fill='%23A239C5'/%3E%3Ccircle cx='2466.13' cy='7.02808' r='1214.03' fill='%235D4CBD'/%3E%3Ccircle cx='1252.2' cy='1787.97' r='1214.03' fill='%23FF481F'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -2;
  animation-name: rotater;
  animation-duration: 120s;
  animation-iteration-count: infinite;
  transform: scale(25);
  position: fixed;
  top: 0;
  right: 0;
}

@media screen and (max-width: 1400px) {
    .bg {
        transform: scale(1);
        opacity: 0.75;
    }
}

.overlay {
  transform: scale(1.5);
  height: 100%;
  width: 100%;
  filter: blur(100px);
  pointer-events: none;
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
}

@keyframes rotater {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(180deg);
  }
  55% {
    transform: rotate(-800deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

* {
  box-sizing: border-box;
}

a {
  color: #fff;
  text-decoration: none;
  border-bottom: 1px dotted #fff;
  transition: all 0.3s ease;
}

a:hover {
  border-bottom: 1px dotted #fff;
}

article img {
      margin-left: 10%;
    margin-right: 10%;
    max-width: 80%;
    border-radius: 6px;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
  display: block;
}

.shoutout {
    padding: 10px;
    background-color: #20fc8e70;
    color: #20fc8f;
    border: 1px solid #20fc8f;
    border-radius: 4px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  position: fixed;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffffff40;
  border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff50;
}

@import 'article.css';
