html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: #0b3954;
  color: #ececec;
}

* {
  box-sizing: border-box;
}

a {
  color: #20fc8f;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

.shoutout {
    padding: 10px;
    background-color: #20fc8e70;
    color: #20fc8f;
    border: 1px solid #20fc8f;
    border-radius: 4px;
}

@import 'article.css'
